{% extends 'base.html.twig' %}

{% block body %}
    <main class="mdl-card mdl-cell mdl-cell--12-col">
        <div class="mdl-grid">
            <table class="mdl-data-table mdl-js-data-table mdl-data-table--selectable mdl-shadow--2dp">
                <thead>
                <tr>
                    <th class="mdl-data-table__cell--non-numeric">Material</th>
                    <th>Branch</th>
                </tr>
                </thead>
                <tobdy>
                    {% for ps in dockerPs %}
                        <tr>
                            <td class="mdl-data-table__cell--non-numeric">{{ ps.id }}</td>
                            <td>{{ ps.status }}</td>
                            <td>{{ ps.port }}</td>
                            <td>
                                <a href="/docker/remove/{{ ps.id }}">Remove</a>
                            </td>
                        </tr>
                    {% endfor %}
                </tobdy>
            </table>

        </div>
    </main>
    <main class="mdl-card mdl-cell mdl-cell--12-col">
        <div class="mdl-grid">
            <a href="/" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">
                Branches
            </a>
        </div>
    </main>
{% endblock %}