{% extends 'base.html.twig' %}

{% block body %}
    <main class="mdl-card mdl-cell mdl-cell--12-col">
        <div class="mdl-grid">
            <form method="post">
                <div class="mdl-textfield mdl-js-textfield">
                    <input class="mdl-textfield__input" type="text" name="repository" value="">
                    <label class="mdl-textfield__label" >Git repository</label>

                </div>
                <input type="submit" class="mdl-button mdl-js-button mdl-js-ripple-effect" value="List branches"/>
            </form>
        </div>
        <div class="mdl-grid">

            <table class="mdl-data-table mdl-js-data-table mdl-data-table--selectable mdl-shadow--2dp">
                <thead>
                <tr>
                    <th class="mdl-data-table__cell--non-numeric">Material</th>
                    <th>Branch</th>
                </tr>
                </thead>
                <tobdy>
                    {% for branch in branches %}
                        <tr>
                            <td class="mdl-data-table__cell--non-numeric">{{ branch }}</td>
                            <td><a href="/docker/status/{{ branch }}">Deploy</a></td>
                        </tr>
                    {% endfor %}
                </tobdy>
            </table>
        </div>
    </main>
{% endblock %}